/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("./assets/background.png");
  background-size: cover;
}

.component-content-background-transparent {
  background: rgba(255,255,255, 0.8);
  margin: 1em 1em 1em 1em;
}

.ui-widget-content {
  background: rgba(255,255,255, 0.5);
}

.ui-tabview-nav {
  opacity: 1;
}
