<div class="row align-items-center">
  <div class="col"></div>
  <div class="col">
    <h1 class="text-center">Oh No!</h1>
  </div>
  <div class="col"></div>
</div>
<div class="row align-items-center">
  <div class="col"></div>
  <div class="col component-content-background-transparent">
    <p class="text-center">We pride ourselves on being able to find things but you have stumped us.</p>
    <p class="text-center">Finding these issues will result in a handsome reward of <i>NotDeath</i> and/or <a href="https://en.wikipedia.org/wiki/Zimbabwean_dollar" target="_blank">Zimbabwean Dollars</a>.</p>
  </div>
  <div class="col"></div>
</div>
